@import 'reset';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Kumbh+Sans:wght@300&family=Roboto:wght@100&display=swap');

.wrapper-container {
    height: 100vh;
    font-family: 'Bai Jamjuree', sans-serif;
    color: $usualWhite;
    display: grid;
    grid-template-columns: 305px 1fr;
}

aside {
    font: {
        weight: 600;
        size: 13px;
    }
    padding: 15px 10px;
}

.user-account-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 15px;
    margin-bottom: 20px;

    img {
        width: 45px;
        height: 45px;
        border-radius: 100px;
    }
}

.account-info {
    margin-left: 10px;
}

.account-email {
    color: $emailColor;
}

.search-box-container {
    position: relative;
}

#search-box {
    background-color: $secondDark;
    color: $usualWhite;
    border: 1px solid $grayWhite;
    border-bottom: 1px solid $usualWhite;
    border-radius: 5px;
    width: 100%;
    height: 32px;
    font-size: 15px;
    padding-left: 10px;
}

#search-box::placeholder {
    color: $grayDarkerWhite;
}

.search-icon {
    background: {
        image: url('../icons/icons8-search.svg');
        repeat: no-repeat;
        size: 20px;
    }
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
}

.task-container {
    font-size: 17px;
}

.defualt-tasks {
    margin-top: 20px;
    border-bottom: 1px solid $grayWhite;
}

main {
    background-color: $secondDark;
}